.text-red{
    color: red;
}

.text-blue{
    color: blue;
}

.margin-b-5{
    margin-bottom: 5px !important;;
}

.margin-b-6{
    margin-bottom: 6px !important;
}

.pointer{
    cursor: pointer;
}

/*Css for file upload in image*/

#img-upload{
    width: 35%;
}
