html{
    /*scroll-behavior: smooth;*/
}
.text-red{
    color: red;
}

.text-blue{
    color: blue;
}

.margin-b-5{
    margin-bottom: 5px !important;;
}

.margin-b-6{
    margin-bottom: 6px !important;
}

.pointer{
    cursor: pointer;
}

/*Css for file upload in image*/

#img-upload{
    width: 35%;
}

.text-white{
    color: white;
    text-align: center;
}

.btn-view-more:hover{
    color: white;
    zoom: 1px;
}

.bg-color-orange{
    background-color: #FF5733;
}

/*Css for image in home*/
.object-fit-img{
    object-fit: cover;
}
